@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Computer Information Systems Club</h1>
    <p class="lead">Welcome to the CIS website where we showcase relevant information about our club!</p>
    <p><a href="https://orgsync.com/160056/groups" class="btn btn-primary btn-lg">Learn More! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            Computer Information Systems focuses heavily on the application of software and hardware to business solutions.
            At the University of Louisville, students in the College of Business will inevitably attend a CIS class where they
            will obtain certain technical skills.  Our club is constructed to go further for business students who are curious about
            the variety of fields that a CIS major (or minor) offers.
        </p>
        <p><a class="btn btn-default" href="http://business.louisville.edu/faqs/bsba-in-cis/">More about CIS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>